body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #99ff3af8;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

#logo {
  width: 15%;
  height: auto;
}

#navbar_buttons {
  display: flex;
}

#nav-links a {
  margin: 6px;
  padding: 10px 20px;
  background-color: #00cc33;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Bahnschrift SemiLight Condensed", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

#nav-links a:hover {
  background-color: #3cff00;
  color: #ffffff;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
#toggle-alumnos {
  margin-left: 17px;
  display: flex;
  align-items: center;
  background-color: #00cc33;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bahnschrift Light", sans-serif;
  font-size: 30px;
}

#img-est {
  width: 100px;
  margin-right: 10px;
}

#formulario-alumnos.active {
  max-height: 300px;
  padding: 20px;
  opacity: 1;
}

h1 {
  font-family: "Bahnschrift Light", sans-serif;
}

.contact-container {
  font-family: "Bahnschrift Light", sans-serif;

  text-align: left;
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.consulta-table {
  width: 100%;
  border-collapse: collapse;
}

.consulta-table th,
.consulta-table td {
  border: 1px solid #000;
  padding: 8px;
}

.consulta-table th {
  background-color: #f2f2f2;
}
th {
  font-weight: normal;
}
