body {
  font-family: "Bahnschrift Light", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #99ff3af8;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

#logo {
  width: 15%;
  height: auto;
}

#navbar_buttons {
  display: flex;
}

#nav-links a {
  margin: 6px;
  padding: 10px 20px;
  background-color: #00cc33;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

#nav-links a:hover {
  background-color: #3cff00;
}

.main-container {
  display: flex;
  align-items: center;
}

.contact-container h2 {
  text-align: center;
}
.contact-container img {
  width: 98%;
}

.contact-container {
  text-align: left;
  margin: 40px;
  max-width: 40%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form {
  text-align: left;
  margin: 0 auto;
  width: 40%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#contact-container h2 {
  font-size: 30px;
}

.contact-form {
  text-align: left;
  margin: 0 auto;
  max-width: 60%;
  padding: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin: 10px 0;
}

.contact-form input,
.contact-form textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #00cc33;
  color: #fff;
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bahnschrift SemiLight Condensed", sans-serif;
}

.contact-form button:hover {
  background-color: #3cff00;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-family: "Bahnschrift SemiLight Condensed", sans-serif;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
#mensaje {
  resize: none;
}
