header {
  background-color: #99ff3af8;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

body {
  margin-top: 70px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

#logo {
  width: 15%;
  height: auto;
}

#navbar_buttons {
  display: flex;
}

#nav-links a {
  margin: 6px;
  padding: 10px 20px;
  background-color: #00cc33;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Bahnschrift Light", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

#nav-links a:hover {
  background-color: #3cff00;
  color: #ffffff;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

#signup-container {
  text-align: center;
  margin: 0 auto;
  font-family: "Bahnschrift Light", sans-serif;
  max-width: 400px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#h2 {
  font-size: 30px;
}

#signup-form {
  text-align: left;
  font-family: "Bahnschrift Light", sans-serif;
}

#signup-form label {
  display: block;
  margin-bottom: 10px;
}

#signup {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#contrasena {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#signup-form button {
  background-color: #00cc33;
  color: #fff;
  border: none;
  padding: 10px 173px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bahnschrift Light", sans-serif;
}

#signup-form button:hover {
  background-color: #3cff00;
}

span {
  font-size: 12px;
}
